<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>minha página web</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div>
        <h1>Meu sistema web</h1>
    </div>
    <div class="div-inferior">
        <form action="/inserircontato" method="post">
            <label>Nome</label><br>
            <input type="text" name="nome"><br><br>

            <label>seu e-mail</label><br>
            <input type="email" name="email" ><br><br>

            <label>seu e-mail</label><br>
            <textarea name="texto"></textarea>
                <br>
            <button type="submit">Enviar</button>

        </form>
    </div>
</body>
</html>